/*==========
variable css start
==============*/
:root {
  --ff1: 'Open Sans', sans-serif;
  --ff2: 'Raleway', sans-serif; }

/*==========
variable css end
==============*/
/*==========================
responsive NAV bar 
==================
========================*/
ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

.bd-grid {
  max-width: 1170px;
  display: grid;
  grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.header {
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  padding: 0 1rem;
  background-color: #FFF;
  display: flex;
  align-items: center; }
  .header .header__toggle {
    font-size: 30px;
    cursor: pointer;
    padding-right: 20px;
    position: absolute;
    right: 0; }

/*responsive*/
@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto; } }
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #6C63FF;
    width: 80%;
    height: 100vh;
    padding: 2rem 0;
    z-index: var(--z-fixed);
    transition: .5s;
    overflow-y: auto;
    color: white; } }
@media screen and (min-width: 768px) {
  body {
    margin: 0; }

  .header {
    height: calc(var(--header-height) + 1rem); }
    .header__logo, .header__toggle {
      display: none; }

  .nav {
    width: 100%; }

  .header__toggle {
    padding-right: 10px; } }
@media (max-width: 768px) {
  .header .nav .menu {
    flex-direction: column; }
    .header .nav .menu .logo {
      display: none; }
    .header .nav .menu .login-contact {
      flex-direction: column;
      text-align: center; }
      .header .nav .menu .login-contact a {
        color: white;
        background-color: #8682e6 !important;
        text-align: center;
        margin-right: 30px;
        border-radius: 30px;
        height: 30px;
        line-height: 30px !important; }
      .header .nav .menu .login-contact .num {
        background-color: #8682e6 !important;
        text-align: center;
        margin-right: 30px; }
    .header .nav .menu .nav-item .list {
      flex-direction: column;
      text-align: center;
      color: white; }
      .header .nav .menu .nav-item .list li a {
        color: white; } }
@media screen and (min-width: 576px) {
  .nav {
    width: 288px; } }
.show {
  left: 0; }

/*==========================
=============================
==============================
=============================
responsive NAV bar end
===============================
=============================

========================*/
/*==========
menu css start
==============*/
.header .header__logo {
  position: relative; }
  .header .header__logo a img {
    display: none;
    position: absolute;
    top: -100px;
    left: 0; }
.header .nav .menu .logo a {
  line-height: 50px; }
.header .nav .menu .nav-item ul li a {
  color: #444447;
  font-family: var(--ff2);
  font-size: 15px;
  margin-right: 15px;
  line-height: 60px;
  font-weight: 500;
  padding-right: 30px;
  position: relative; }
  .header .nav .menu .nav-item ul li a:hover {
    color: #000; }
  .header .nav .menu .nav-item ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #6C63FF;
    position: absolute;
    bottom: -13px;
    left: 0;
    transition: 0.4s; }
  .header .nav .menu .nav-item ul li a:hover::after {
    width: 60%; }
.header .nav .menu .login-contact {
  line-height: 60px; }
  .header .nav .menu .login-contact a {
    color: #444444;
    font-family: var(--ff2);
    font-size: 15px;
    margin-right: 15px;
    line-height: 40px;
    font-weight: 500;
    padding-right: 30px;
    border-radius: 40px;
    height: 40px;
    width: 112px;
    text-align: center;
    margin-top: 10px;
    transition: 00.3s; }
    .header .nav .menu .login-contact a:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
  .header .nav .menu .login-contact .num {
    color: #ffffff;
    font-family: var(--ff1);
    font-size: 15px;
    margin-right: 15px;
    line-height: 60px;
    font-weight: 500;
    padding-right: 0px;
    display: block;
    background-color: #6C63FF;
    height: 40px;
    width: 173px;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    margin-top: 10px;
    transition: 0.4s;
    cursor: pointer; }
    .header .nav .menu .login-contact .num:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }

/*==========
menu css END
==============*/
/*==========
writing service css Start
==============*/
.writing {
  margin-top: 200px; }
  .writing .easy-writing h2 {
    font-family: var(--ff2);
    font-weight: 500;
    font-size: 40px;
    padding-right: 30px;
    color: #000;
    margin-bottom: 50px;
    margin-top: 120px; }
  .writing .easy-writing a {
    color: #ffffff;
    font-family: var(--ff2);
    font-size: 12px;
    margin-right: 15px;
    line-height: 50px;
    font-weight: 500;
    padding-right: 0px;
    display: block;
    background-color: #6C63FF;
    height: 50px;
    width: 180px;
    transition: 0.4a;
    text-align: center;
    border-radius: 40px;
    margin-top: 10px; }
    .writing .easy-writing a:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }

/*==========
writing service css END
==============*/
/*==========
Quality paper css
==============*/
.Quality-paper {
  margin-top: 200px; }
  .Quality-paper .quality h2 {
    font-family: var(--ff2);
    font-weight: 500;
    font-size: 40px;
    padding-right: 30px;
    color: #FF4D08;
    margin-bottom: 50px;
    margin-top: 20px;
    text-align: left; }
  .Quality-paper .quality p {
    font-family: var(--ff1);
    font-size: 14px;
    color: #444447;
    line-height: 24px;
    text-align: left;
    padding-right: 50px; }

/*==========
Quality paper css end
==============*/
/*==========
Our clint review css 
==============*/
.clint-review {
  margin-top: 200px;
  margin-bottom: 150px; }
  .clint-review .heading h2 {
    font-family: var(--ff2);
    font-weight: 600;
    font-size: 30px;
    padding-right: 30px;
    color: #FF4D08;
    margin-top: 20px; }
  .clint-review .heading p {
    font-family: var(--ff1);
    font-weight: 400;
    font-size: 12px;
    padding-right: 30px;
    color: #1f1c1c; }
  .clint-review .banner-slider {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px; }
    .clint-review .banner-slider .slick-dots {
      display: flex;
      margin: auto;
      justify-content: center;
      padding-bottom: 30px; }
      .clint-review .banner-slider .slick-dots li {
        width: 5px;
        height: 5px;
        background-color: #6C63FF;
        margin-right: 10px;
        border-radius: 7px; }
        .clint-review .banner-slider .slick-dots li button {
          display: none; }
      .clint-review .banner-slider .slick-dots .slick-active {
        width: 10px; }
    .clint-review .banner-slider .banner-item .box {
      height: 98px;
      width: 98px;
      border: 3px solid #308ECE;
      border-radius: 50%;
      margin: auto;
      background: url(../../img/perfil.jpg);
      background-size: cover;
      margin-top: 30px; }
    .clint-review .banner-slider .banner-item .banner-heading {
      margin-top: 20px; }
      .clint-review .banner-slider .banner-item .banner-heading .rating a i {
        color: #FFA300; }
      .clint-review .banner-slider .banner-item .banner-heading .details h3 {
        font-family: var(--ff2);
        font-weight: 500;
        font-size: 15px;
        color: #308ECE; }
      .clint-review .banner-slider .banner-item .banner-heading .details p {
        font-family: var(--ff1);
        font-weight: 400;
        font-size: 12px;
        padding-right: 30px;
        color: #777777; }

/*==========
Our clint review css end
==============*/
/*==========
Types of work we offer start=
==============*/
.types-of-work {
  margin-bottom: 150px; }
  .types-of-work .heading h2 {
    font-family: var(--ff2);
    font-weight: 600;
    font-size: 30px;
    padding-right: 30px;
    color: #FF4D08;
    margin-top: 20px; }
  .types-of-work .heading p {
    font-family: var(--ff1);
    font-weight: 400;
    font-size: 12px;
    padding-right: 30px;
    color: #1f1c1c; }
  .types-of-work .work {
    margin-top: 30px; }
    .types-of-work .work .text {
      border-radius: 30px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      height: 50px;
      display: flex; }
      .types-of-work .work .text a i {
        color: #FFA300;
        font-size: 20px;
        line-height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px; }
      .types-of-work .work .text p {
        font-family: var(--ff1);
        font-weight: 400;
        font-size: 12px;
        padding-right: 30px;
        line-height: 50px;
        color: #1f1c1c; }

/*==========
Types of work we offer END
==============*/
/*==========
How it work start
==============*/
.how-it-work {
  margin-bottom: 200px; }
  .how-it-work .heading h2 {
    font-family: var(--ff2);
    font-weight: 600;
    font-size: 30px;
    padding-right: 30px;
    color: #FF4D08;
    margin-top: 20px; }
  .how-it-work .heading p {
    font-family: var(--ff1);
    font-weight: 400;
    font-size: 12px;
    padding-right: 30px;
    color: #1f1c1c; }
  .how-it-work .work .our-work {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    height: 300px; }
    .how-it-work .work .our-work h3 {
      font-family: var(--ff2);
      font-weight: 400;
      font-size: 20px;
      padding-right: 52px;
      padding-left: 50px;
      color: #3a3939;
      margin-top: 20px;
      text-align: center;
      margin-top: 20px;
      padding-top: 20px; }
      .how-it-work .work .our-work h3 span {
        font-family: var(--ff2);
        font-weight: 500;
        font-size: 45px;
        color: #FF4C52; }
    .how-it-work .work .our-work p {
      font-family: var(--ff1);
      font-weight: 400;
      font-size: 15px;
      color: #777777;
      margin-top: 20px;
      text-align: left;
      padding-left: 50px;
      padding-right: 50px; }
  .how-it-work .work .one h3 span {
    color: #23AEC4; }
  .how-it-work .work .two h3 span {
    color: #FF4C52; }
  .how-it-work .work .three h3 span {
    color: #23AEC4; }

/*==========
How it work End
==============*/
/*==========
Feature start
==============*/
.feature .heading {
  margin-bottom: 80px; }
  .feature .heading h2 {
    font-family: var(--ff2);
    font-weight: 600;
    font-size: 30px;
    padding-right: 30px;
    color: #FF4D08;
    margin-top: 20px; }
.feature .heading-two {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px; }
  .feature .heading-two a {
    font-family: var(--ff1);
    font-size: 12px;
    margin-right: 15px;
    line-height: 60px;
    font-weight: 500;
    padding-right: 0px;
    display: block;
    background-color: #6C63FF;
    height: 47px;
    width: 200px;
    line-height: 47px;
    color: #e7e2e2;
    border-radius: 40px;
    margin-top: 10px;
    transition: 0.4s; }
    .feature .heading-two a:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
.feature .our-feature .item .one {
  border-right: 2px solid #9F9F9F; }
.feature .our-feature .item .logo {
  width: 80px; }
  .feature .our-feature .item .logo a {
    font-size: 45px;
    padding-right: 20px; }
    .feature .our-feature .item .logo a i {
      color: #96CBFB;
      margin-right: 20px;
      margin-top: 20px; }
  .feature .our-feature .item .logo .jquery i {
    color: #0868AB; }
  .feature .our-feature .item .logo .vuejs i {
    color: #41B883; }
.feature .our-feature .item .text p {
  margin-bottom: 0;
  font-family: var(--ff1);
  font-weight: 400;
  font-size: 13px;
  padding-right: 30px;
  color: #777777;
  margin-top: 20px;
  text-align: left;
  margin-top: 0; }

/*==========
Feature END
==============*/
/*==========
Footer
==============*/
.footer {
  margin-bottom: 150px; }
  .footer .footer-page .footer-details .logo {
    margin-bottom: 30px; }
  .footer .footer-page .footer-details .details p {
    font-size: 13px;
    font-family: var(--ff2);
    color: #444444;
    font-weight: 500;
    line-height: 28px;
    padding-right: 74px; }
  .footer .footer-page .footer-details .social-logo ul li {
    width: 40px;
    height: 40px;
    background-color: #6C63FF;
    color: white;
    margin-right: 10px;
    text-align: center;
    border-radius: 2px;
    transition: 0.4s; }
    .footer .footer-page .footer-details .social-logo ul li:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
    .footer .footer-page .footer-details .social-logo ul li i {
      line-height: 40px;
      color: white;
      text-align: center; }
  .footer .footer-page .menu-item ul li a {
    font-size: 13px;
    font-family: var(--ff2);
    color: #444444;
    font-weight: 500;
    line-height: 37px;
    position: relative; }
    .footer .footer-page .menu-item ul li a:hover {
      color: #000; }
    .footer .footer-page .menu-item ul li a::after {
      content: "";
      width: 0%;
      height: 2px;
      background-color: #6C63FF;
      position: absolute;
      bottom: -13px;
      left: 0;
      transition: 0.3s; }
    .footer .footer-page .menu-item ul li a:hover::after {
      width: 60%; }
  .footer .footer-page .our-service ul li a {
    font-size: 13px;
    font-family: var(--ff2);
    color: #444444;
    font-weight: 500;
    line-height: 37px; }

/*==========
Footer end
==============*/
/*==========
 SCROLL UP 
==============*/
.up-to a {
  display: block;
  text-align: right;
  margin-top: 61%; }
  .up-to a i {
    font-size: 50px !important;
    background-color: #6C63FF !important;
    color: #ffffff;
    border-radius: 5px;
    transition: 0.4s; }
    .up-to a i:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      margin-top: 5px; }

/*==================
Responsive css start
===================*/
/*========= Break pont one======*/
@media (max-width: 1400px) {
  .how-it-work .work .our-work p {
    font-family: var(--ff1);
    font-weight: 400;
    font-size: 15px;
    color: #777777;
    margin-top: 20px;
    text-align: left;
    padding-left: 12px;
    padding-right: 16px; } }
/*========= Break pont two======*/
@media (max-width: 1200px) {
  .how-it-work .work .our-work h3 {
    font-family: var(--ff2);
    font-weight: 400;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 18px;
    color: #3a3939;
    margin-top: 20px;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px; }

  .header .nav .menu .nav-item ul li a {
    color: #444447;
    font-family: var(--ff2);
    font-size: 13px;
    margin-right: 0px;
    line-height: 60px;
    font-weight: 500;
    padding-right: 21px;
    position: relative; } }
/*========= Break pont three======*/
@media (max-width: 992px) {
  .header .nav .menu .login-contact .num {
    color: #ffffff;
    font-family: var(--ff1);
    font-size: 11px;
    margin-right: 15px;
    line-height: 60px;
    font-weight: 500;
    padding-right: 0px;
    display: block;
    background-color: #6C63FF;
    height: 35px;
    width: 122px;
    line-height: 34px;
    text-align: center;
    border-radius: 40px;
    margin-top: 10px;
    transition: 0.4s;
    cursor: pointer; }

  .header .nav .menu .login-contact a {
    color: #444444;
    font-family: var(--ff2);
    font-size: 13px;
    margin-right: 15px;
    line-height: 40px;
    font-weight: 500;
    padding-right: 30px;
    border-radius: 40px;
    height: 40px;
    width: 38px;
    text-align: center;
    margin-top: 10px;
    transition: 00.3s; }

  .header .nav .menu .logo a {
    line-height: 51px; }
    .header .nav .menu .logo a img {
      width: 80%; }

  .header .nav .menu .nav-item ul li a {
    color: #444447;
    font-family: var(--ff2);
    font-size: 12px;
    margin-right: 0px;
    line-height: 60px;
    font-weight: 500;
    padding-right: 9px;
    position: relative; }

  .types-of-work .work .text p {
    font-family: var(--ff1);
    font-weight: 400;
    font-size: 12px;
    padding-right: 3px;
    line-height: 50px;
    color: #1f1c1c; } }
/*========= Break pont four======*/
@media (max-width: 768px) {
  .types-of-work .work .text {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 50px;
    display: flex;
    margin-bottom: 31px; }

  .header .header__toggle {
    font-size: 36px;
    cursor: pointer;
    padding-right: 20px;
    position: absolute;
    right: 0;
    margin-top: 20px; }

  .header .header__logo {
    position: relative;
    margin-top: 20px;
    margin-bottom: 8px; }

  .header {
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    padding: 0 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #222cc829; }

  .nav {
    z-index: 1; }

  .header .nav .menu .nav-item ul li a {
    color: #444447;
    font-family: var(--ff2);
    font-size: 16px;
    margin-right: 0px;
    line-height: 60px;
    font-weight: 500;
    position: relative;
    text-align: right; }

  .header .nav .menu .login-contact {
    flex-direction: row;
    text-align: center;
    margin-top: 30px; }

  .header .nav .menu .login-contact a,
  .num {
    color: #ffffff;
    font-family: var(--ff1);
    font-size: 11px;
    margin-right: 15px;
    line-height: 60px;
    font-weight: 500;
    padding-right: 0px;
    display: block;
    background-color: #6C63FF;
    height: 35px;
    width: 122px;
    line-height: 34px;
    text-align: center;
    border-radius: 40px;
    margin-top: 10px;
    transition: 0.4s;
    cursor: pointer; }

  .up-to a {
    display: block;
    text-align: right;
    margin-top: -12%; }
    .up-to a i {
      font-size: 35px !important; } }
/*========= Break pont five======*/
@media (max-width: 575px) {
  .header {
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    padding: 0 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #222cc829;
    position: fixed;
    z-index: 11; }

  .header .nav .menu .login-contact {
    flex-direction: row;
    margin-top: 30px;
    justify-content: center; }

  .writing .easy-writing a {
    color: #ffffff;
    font-family: var(--ff2);
    font-size: 12px;
    margin-right: 15px;
    line-height: 50px;
    font-weight: 500;
    padding-right: 0px;
    display: block;
    background-color: #6C63FF;
    height: 50px;
    width: 142px;
    transition: 0.4a;
    text-align: center;
    border-radius: 40px;
    margin-top: 10px;
    margin-left: 10px; }

  .up-to a {
    display: block;
    text-align: right;
    margin-top: -12%; }
    .up-to a i {
      font-size: 35px !important; } }
/*========= Break pont Six======*/
@media (max-width: 320px) {
  .writing .easy-writing a {
    color: #ffffff;
    font-family: var(--ff2);
    font-size: 11px;
    margin-right: 15px;
    line-height: 50px;
    font-weight: 500;
    padding-right: 0px;
    display: block;
    background-color: #6C63FF;
    height: 50px;
    width: 134px;
    transition: 0.4a;
    text-align: center;
    border-radius: 40px;
    margin-top: 10px;
    margin-left: 10px; } }
/*==================
Responsive css END
===================*/

/*# sourceMappingURL=styles.css.map */
